<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<div class="mdui-container">
    <div class="mdui-card" style="margin-top: 16px;padding-left: 8px;padding-right: 8px">
        <div class="mdui-textfield mdui-textfield-floating-label" style="padding-top: 8px">
            <i class="mdui-icon material-icons">search</i>
            <label class="mdui-textfield-label">Search files...</label>
            <input class="mdui-textfield-input" id="searchInput" type="text" autocomplete="off" autofocus style="cursor: text;">
            <div class="mdui-textfield-helper">Press "Enter" to search.</div>
        </div>
        <script>
          const input = document.getElementById("searchInput");
          input.addEventListener("keyup", function (event) {
            if (event.key === 'Enter') {
              let value = input.value.trim();
              if (value === "") {
                location.href = `/`;
              }else {
                location.href = `/?query=${value}`;
              }
            }
          });
        </script>
    </div>

    <% if (files.length){ %>
        <% files.forEach((file)=>{ %>
            <div class="mdui-card" id="file-<%- file.id %>" style="margin-top: 16px">
                <div class="mdui-card-primary" style="padding-top: 8px">
                    <div class="mdui-card-primary-title"><%- file.filename %></div>
                    <div class="mdui-card-primary-subtitle">
                        <span><%- file.uploader %></span>
                        <span><%- file.time %></span>
                        <span><%- file.downloadCounter %></span>
                    </div>
                </div>
                <div class="mdui-card-content" style="padding-top: 8px;padding-bottom: 8px">
                    <%- file.description %>
                </div>
                <div class="mdui-card-actions">
                    <a class="mdui-btn mdui-btn-icon mdui-float-right" download="<%- file.filename %>" href="<%- file.link %>"><i
                                class="mdui-icon material-icons mdui-text-color-green">cloud_download</i></a>
                    <button class="mdui-btn mdui-btn-icon mdui-float-right"><i class="mdui-icon material-icons mdui-text-color-purple">thumb_down</i>
                    </button>
                    <button class="mdui-btn mdui-btn-icon mdui-float-right"><i
                                class="mdui-icon material-icons mdui-text-color-blue">thumb_up</i>
                    </button>
                    <button class="mdui-btn mdui-btn-icon mdui-float-right" onclick="deleteFile(<%- file.id %>)"><i
                                class="mdui-icon material-icons mdui-text-color-red">delete</i>
                    </button>
                </div>
            </div>
    <% });} %>
</div>
<%- include('./partials/footer') %>
